
	<section id="banner">
		<%= image_tag "gato-banner2.jpg" %>
		<div class="contenedor">
			<h2>Gatos y niños felices</h2>
			<p>Cual es el mejor gato para usted?</p>
			<a href="">Leer más</a>
		</div>
	</section>
 
	<section id="bienvenidos">
		<div class="contenedor">
			<h2>Bienvenidos a nuestro club de gatos</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. </p>
		</div>
	</section>


<section id="adopta">
<div class="contenedor">

 <h3>Los gaticos más recientes que esperar por un hogar</h3>
	<div class="row">
	  <div class="col-lg-offset-1 col-sm-4 col-md-3">
	    <div class="thumbnail">
	      <%= image_tag "gato-med1.jpg" %>
	      <div class="caption">
	        <h3>Thumbnail label</h3>
	        <p>...</p>
	        <p><a href="#" class="btn btn-primary" role="button">Conocer más</a> </p>
	      </div>
	   </div>
	  </div>

	  <div class="col-sm-4 col-md-3">
	    <div class="thumbnail">
	      <%= image_tag "gato-med2.jpg" %>
	      <div class="caption">
	        <h3>Thumbnail label</h3>
	        <p>...</p>
	        <p><a href="#" class="btn btn-primary" role="button">Conocer más</a> </p>
	      </div>
	    </div>
	  </div>

	  <div class="col-sm-4 col-md-3	">
	    <div class="thumbnail">
	      <%= image_tag "gato-med3.jpg" %>
	      <div class="caption">
	        <h3>Thumbnail label</h3>
	        <p>...</p>
	        <p><a href="#" class="btn btn-primary" role="button">Conocer más</a></p>
	      </div>
	    </div>
	  </div>	  
	</div>


<h3>Los perritos más recientes que esperar por un hogar</h3>
	<div class="row">

	  <div class="col-lg-offset-1 col-sm-4 col-md-3">
	    <div class="thumbnail">
	      <%= image_tag "gato-med1.jpg" %>
	      <div class="caption">
	        <h3>Thumbnail label</h3>
	        <p>...</p>
	        <p><a href="#" class="btn btn-primary" role="button">Conocer más</a> </p>
	      </div>
	   </div>
	  </div>

	  <div class="col-sm-4 col-md-3">
	    <div class="thumbnail">
	      <%= image_tag "gato-med2.jpg" %>
	      <div class="caption">
	        <h3>Thumbnail label</h3>
	        <p>...</p>
	        <p><a href="#" class="btn btn-primary" role="button">Conocer más</a> </p>
	      </div>
	    </div>
	  </div>

	  <div class="col-sm-4 col-md-3">
	    <div class="thumbnail">
	      <%= image_tag "gato-med3.jpg" %>
	      <div class="caption">
	        <h3>Thumbnail label</h3>
	        <p>...</p>
	        <p><a href="#" class="btn btn-primary" role="button">Conocer más</a></p>
	      </div>
	    </div>
	  </div>	  

</div>

</div>
</section>

	<section id="info">
		<h3>Los gatos no son simple compañeros son miembros de la familia</h3>
		<div class="contenedor">
			<div class="info-pet"><%= image_tag "gato-peq1.jpg" %><h4>Max</h4></img></div>
			<div class="info-pet"><%= image_tag "gato-peq2.jpg" %><h4>Jerry</h4></img></div>
			<div class="info-pet"><%= image_tag "gato-peq3.jpg" %><h4>Tom</h4></img></div>
			<div class="info-pet"><%= image_tag "gato-peq4.jpg" %><h4>Sam</h4></img></div>
		</div>
	</section>
